<div class="container">
  <div class="input-group mt-3">
    <input  type="text" class="form-control" placeholder="Address" [(ngModel)]="address">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="onFindAddress()">Find</button>
    </div>
  </div>
  <br>
  <form class="card card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-lg">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" placeholder="Address" readonly>
        </div>
        <div class="col-lg">
          <label for="coordinates">Coordinates</label>
          <input type="text" id="coordinates" class="form-control" placeholder="Coordinates" readonly>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg">
          <label for="maxDistance">Max Distance (km)</label>
          <input type="text" id="maxDistance" class="form-control" placeholder="5">
        </div>
        <div class="col-lg">
          <label for="maxUsers">Max Users</label>
          <input type="text" id="maxUsers" class="form-control" placeholder="1">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg">
          <button class="btn btn-primary">Send Alert</button>
        </div>
      </div>
    </div>
  </form>

  <br>

  <ngb-alert type="warning" (close)="onAlertClose()" *ngIf="alertMessage">{{ alertMessage }}</ngb-alert>

  <div [ngStyle]="{height: alertMessage ? '13px' : '79px' }"></div>

  {{selectedAddress}}

  <div class="mx-auto">
    <google-map width="100%" [center]="center" [zoom]="6" (mapClick)="onAddMarker($event)">
      <map-info-window>Hello Google Maps</map-info-window>
      <map-marker
        [position]="markerPosition"
        *ngIf="markerPosition"
        [options]="{draggable: true}"
        (mapDrag)="onDragMarker($event)"
        (mapDragend)="onDragMarkerEnd($event)"
      ></map-marker>
    </google-map>
  </div>
</div>

