<div class="container">
  <div class="input-group mt-3 mb-2">
    <input  type="text" class="form-control" placeholder="Διεύθυνση συμβάντος" [(ngModel)]="address">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="onFindAddress()">Find</button>
    </div>
  </div>

  <ngb-alert type="warning" (close)="onAlertClose()" *ngIf="alertMessage">{{ alertMessage }}</ngb-alert>

  <div class="mx-auto">
    <google-map *ngIf="!selectedAddress" width="100%" [center]="center" [zoom]="mapZoomLevel" (mapClick)="onAddMarker($event)">
      <map-marker
        [position]="markerPosition"
        *ngIf="markerPosition"
        [options]="{draggable: true}"
        (mapDrag)="onDragMarker($event)"
        (mapDragend)="onDragMarkerEnd($event)"
      ></map-marker>
    </google-map>
  </div>

  <div class="card" *ngIf="selectedAddress">
    <div class="card-body">
      <h5 class="card-title">Αποστολή πρώτων ανταποκριτών έκτακτης ανάγκης</h5>
      <form [formGroup]="alertForm" (submit)="onAlertSubmit()">
        <div class="form-group">
          <label for="address">Διεύθυνση</label>
          <input type="text" id="address" class="form-control" placeholder="Η διεύθυνση θα συμπληρωθεί αυτόματα" [ngModel]="selectedAddress" [ngModelOptions]="{standalone: true}" readonly>
          <div class="mt-2">
            <button class="btn btn-primary" (click)="displayInlineMap = !displayInlineMap"> {{ !displayInlineMap ? 'Προβολή χάρτη' : 'Απόκρυψη χάρτη'}}</button>
          </div>
          <div class="mx-auto mt-2">
            <google-map *ngIf="displayInlineMap" width="100%" [center]="center" [zoom]="mapZoomLevel" (mapClick)="onAddMarker($event)">
              <map-marker
                [position]="markerPosition"
                *ngIf="markerPosition"
                [options]="{draggable: true}"
                (mapDrag)="onDragMarker($event)"
                (mapDragend)="onDragMarkerEnd($event)"
              ></map-marker>
            </google-map>
          </div>
        </div>

        <div class="form-group" formGroupName="requiredSkills">
          <label>Απαιτούμενες ικανότητες</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="bleeding" formControlName="STOP_HEAVY_BLEEDING">
            <label class="form-check-label" for="bleeding">
              Γνωρίζει να σταματάει βαριά αιμορραγία
            </label>

          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="shock" formControlName="TREATING_SHOCK">
            <label class="form-check-label" for="shock">
              Γνωρίζει να αντιμετωπίζει σοκ
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cpr" formControlName="CPR">
            <label class="form-check-label" for="cpr">
              Γνωρίζει CPR
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defib" formControlName="AED">
            <label class="form-check-label" for="defib">
              Γνωρίζει να χρησιμοποιεί απινιδωτή
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="notes">Σημειώσεις</label>
          <textarea id="notes" class="form-control" rows="3" formControlName="notes"></textarea>
        </div>
        <button class="btn btn-danger" [disabled]="isSubmissionDisabled">Αποστολή βοήθειας</button>
      </form>
    </div>
  </div>
</div>

